.page_body {
    font-family: sans-serif;
    background: url("../img/background.png") center/cover no-repeat;
  }
.page-header {
    padding-top: 46px;
    padding-bottom: 17px;
}
.container {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.content_header {
    display: flex;
    vertical-align: center;
    justify-content: space-between;
    align-items: center;
}
.text_logo {
    display: inline;
    padding-left: 63px;
}
a.logo_header {
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 53px;
    height: 47px;
    display: block;
}
a.logo_header:hover {
    background: url("../img/logo2.png");
}
.logo_header{
    display: flex;
    vertical-align: center;
}
.text_logo1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 62px;
}
.text_logo2{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 62px;
}
.header_contacts {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
}
.header_email {
    margin-bottom: 19px;
    color: #FFFFFF;
}
.header_tel {
    color: #FFFFFF;
}
.logo_header:hover .text_logo1 {
    color: #F26522;
}
.logo_header:hover .text_logo2 {
    color: #F26522;}

.header_email:hover {
    color: #F26522;
}
.header_tel:hover {
    color: #F26522 ;
}
.page_main {
    margin-bottom: 48px;
}
.list_tours {
    display: grid;
    grid-template-columns: repeat(3,300px);
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    row-gap: 37px;
    column-gap: 61px;
    justify-content: space-between;
    align-content: center;
}
.item_tour {
    position: relative;
}
.foto_tour {
    margin-bottom: 20px;
    background-image: linear-gradient(to top, #000000,#FFFFFF );
}
.popup_details {
    width: 100%;
    height: 0;
    display: inline-flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0 16px 12px 16px;
    background-color: #F26522;
    position: absolute;
    left: 0;
    bottom: 40px;
    visibility: hidden;
}
.item_tour:hover .popup_details {
    height: 55px;
    visibility: visible;
    transition: 0.6s;
}
.item_tour:hover .popup_details .popup_text {
    transition: 0.2s;
    transition-delay: 0.3s;
}
.item_tour:hover .tour_text {
    color: #F26522;
}
.popup_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}
.popup_text1 {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-top: 7px;
    text-align: left;
}
.popup_text_price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF ;
}
.popup_details_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF ;
    align-self: end;
}
.popup_details_link::after {
    content: "";
    display: inline-block;
    color: #FFFFFF;
    margin-left: 16px;
    background-image: url("../img/vector.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 6px;
    height: 10px;
}
.tour_text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color:#FFFFFF ;
}
.copy_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    margin: 0;
}
